<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>bookinghotel.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAdminFilter</filter-name>
        <filter-class>bookinghotel.filter.LoginAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginReceptionistFilter</filter-name>
        <filter-class>bookinghotel.filter.LoginReceptionistFilter</filter-class>
    </filter>
    
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>Phuochg</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/loadAccount</url-pattern>
        <url-pattern>/setrole</url-pattern>
        <url-pattern>/AddService</url-pattern>
        <url-pattern>/deleteService</url-pattern>
        <url-pattern>/LoadRoomAdminServlet</url-pattern>
        <url-pattern>/LoadServices</url-pattern>
        <url-pattern>/UpdateService</url-pattern>
        <url-pattern>/addhotel</url-pattern>
        <url-pattern>/addroom</url-pattern>
        <url-pattern>/addroomtype</url-pattern>
        <url-pattern>/deleteRoom</url-pattern>
        <url-pattern>/editRoom</url-pattern>
        <url-pattern>/Admin.jsp</url-pattern>
        <url-pattern>/adminaccount.jsp</url-pattern>
        <url-pattern>/editroom.jsp</url-pattern>
        <url-pattern>/list_services.jsp</url-pattern>
        
    </filter-mapping>
        <filter-mapping>
        <filter-name>LoginReceptionistFilter</filter-name>
        <url-pattern>/confirmorder</url-pattern>
        <url-pattern>/loadallorder</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/changePass</url-pattern>
        <url-pattern>/viewinfo</url-pattern>
        <url-pattern>/loadorderbystatus</url-pattern>
        <url-pattern>/add-service-cart</url-pattern>
        <url-pattern>/ChangeDiscountCodeServlet</url-pattern>
        <url-pattern>/CheckDiscountCodeServlet</url-pattern>
        <url-pattern>/CheckOutServlet</url-pattern>
        <url-pattern>/DeleteCartServlet</url-pattern>
        <url-pattern>/DeleteOrderServlet</url-pattern>
        <url-pattern>/OrderRoomServlet</url-pattern>
        <url-pattern>/UpdateCartServlet</url-pattern>
        <url-pattern>/ViewCartServlet</url-pattern>
        <url-pattern>/ViewOrderDetailsServlet</url-pattern>
        <url-pattern>/ViewOrderServlet</url-pattern>
        <url-pattern>/cancelorder</url-pattern>
        <url-pattern>/FeedBackPageServlet</url-pattern>
        <url-pattern>/FeedBackServlet</url-pattern>
        <url-pattern>/LoadHotelUserServlet</url-pattern>
        <url-pattern>/LoadRoomServlet</url-pattern>
        <url-pattern>/SearchHotelServlet</url-pattern>
        <url-pattern>/ViewDetailRoomServlet</url-pattern>
        <url-pattern>/ViewListRoomServlet</url-pattern>
       <url-pattern>/information.jsp</url-pattern>
       <url-pattern>/viewCart.jsp</url-pattern>
       <url-pattern>/viewOrder.jsp</url-pattern>
       <url-pattern>/viewOrderDetails.jsp</url-pattern>
       <url-pattern>/changePassword.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
</web-app>
